{% extends 'base.html' %}

{% block content %}
<main style="font-size: 25px; padding-top: 15px; padding-left: 20px;">
    <form class="formularioDeContato" action="/contato" method="POST">
        <label for="nomesobrenome">Nome e Sobrenome</label>
        <input type="text" id="nomesobrenome" name="nomesobrenome" class="input-padrao" required>

        <label for="email"> E-mail: </label>
        <input type="email" id="email" name="email" class="input-padrao" required placeholder="seunome@dominio.com">

        <label for="telefone"> Whatsapp: </label>
        <input type="tel" id="telefone" name="telefone" class="input-padrao" required placeholder="(XX)XXXXX-XXXX">

        <label for="mensagem"> Mensagem</label>
        <textarea cols="70" rows="10" id="mensagem" name="mensagem" class="input-padrao" required></textarea>

        <fieldset>
            <legend>Como prefere nosso contato? </legend>
            <label for="radio-email"><input type="radio" name="contato" value="email" id="radio-email">Email</label>
            <label for="radio-telefone"><input type="radio" name="contato" value="Telefone" id="radio-telefone">Telefone</label>
            <label for="radio-whatsapp"><input type="radio" name="contato" value="Whatsapp" id="radio-whatsapp" checked>Whatsapp</label>
        </fieldset>

        <fieldset>
            <legend>Qual curso você deseja mais informações</legend>
            <select name="cursosescolhidos">
                <option>IBF - Teologia</option>
                <option>IBF - Clinica da Alma</option>
                <option>IBF - Psicanalise Cristã</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Qual modalidade do curso desejado</legend>
            <select name="modalidade">
                <option>Presencial</option>
                <option>A distancia</option>
            </select>
        </fieldset>

        <label class="checkbox"><input type="checkbox" name="novidades"> Gostaria de receber nossas novidades por e-mail? </label>
        <br>
        <input type="submit" value="Enviar Formulário" class="enviar">
    </form>
</main>

<script>
    // Verifica se o parâmetro de sucesso está presente na URL
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('success')) {
        alert('Sua mensagem foi enviada com sucesso!');
        window.location.href = "{{ url_for('home.index') }}";  // Redireciona para a página inicial
    }
</script>
{% endblock %}