{% extends '_partials_home/home_base_home.html' %}

{% block content %}

        

        <main>
            <section class="principal">
                <h2 class="titulo-principal">Nossos Valores</h2>
                <ul>
                    <li class="valores-item1"><strong>Inspiração das Escrituras:</strong> Acreditamos que tanto o Antigo quanto o Novo Testamento são inspirados por Deus e são a regra infalível de fé para a vida cristã (II Timóteo 3:16-17).</li>
                    <li class="valores-item1"><strong>Trindade Santa:</strong> Reconhecemos um Deus único e eterno em três pessoas: Pai, Filho e Espírito Santo (Mateus 28:19).</li>
                    <li class="valores-item1"><strong>Criação do Universo:</strong> Cremos que Deus criou todas as coisas do nada, por Sua palavra (Hebreus 11:3).</li>
                    <li class="valores-item1"><strong>Jesus Cristo:</strong> Confessamos Seu nascimento virginal, vida sem pecado, milagres, morte vicária, ressurreição e ascensão aos céus (Lucas 1:30-35).</li>
                    <li class="valores-item1"><strong>O Homem:</strong> Acreditamos na queda do homem e que a salvação é possível apenas pelo arrependimento e pela fé em Jesus Cristo (Atos 3:19).</li>
                    <li class="valores-item1"><strong>Batismo nas Águas:</strong> Um testemunho público de nova vida em Cristo (Romanos 6:1-6).</li>
                    <li class="valores-item1"><strong>Espírito Santo:</strong> Cremos no poder do Espírito Santo atuando na vida dos salvos (João 7:38-39).</li>
                    <li class="valores-item1"><strong>Santificação:</strong> Uma decisão de viver uma vida separada do pecado, conforme o mandamento de Deus (I Pedro 1:16).</li>
                    <li class="valores-item1"><strong>Dons Ministeriais:</strong> Reconhecemos os cinco dons ministeriais para o aperfeiçoamento da Igreja (Efésios 4:11-16).</li>
                    <li class="valores-item1"><strong>Segunda Vinda de Cristo:</strong> Esperamos Seu retorno em duas fases: o arrebatamento da Igreja e Seu retorno visível (I Tessalonicenses 4:16-17).</li>
                    <li class="valores-item1"><strong>Juízo Final:</strong> Cremos no julgamento onde os fiéis receberão vida eterna e os infiéis enfrentarão condenação (Apocalipse 20:11-15).</li>
                </ul>
            </section>

        </main>

{% endblock %}

