{% extends '_partials_home/home_base_home.html' %}

{% block content %}

<main>

    <section class="principal">
        <h2 class="titulo-principal"><strong>Grade Curricular do Instituto Bíblico Fé <br> Teologia
        </strong></h2>

        
        <p>A Base curricular teológico se divide em 4 partes anuais, as partes não estão 
            interligadas entre si, podendo o aluno entrar em qualquer parte que a escola está 
            desenvolvendo, é importante completar as 4 partes para que possa ter um 
            entendimento completo do ensino teológico oferecido pelo Instituto, o material 
            didático é totalmente oferecido pela escola.
        </p>

            <table border="1">
                <thead>
                  <tr>
                    <th>Parte 1 - Velho Testamento</th>
                    <th>Parte 2 - Novo Testamento</th>
                    <th>Parte 3 - Doutrinas Bíblicas</th>
                    <th>Parte 4 - Disciplinas Espirituais</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Pentateuco 1</td>
                    <td>Os Evangelhos</td>
                    <td>As Escrituras</td>
                    <td>Disciplina Interiores</td>
                  </tr>
                  <tr>
                    <td>Pentateuco 2</td>
                    <td>Epístolas Paulinas 1</td>
                    <td>Deus</td>
                    <td>Disciplina Exteriores</td>
                  </tr>
                  <tr>
                    <td>Pentateuco 3</td>
                    <td>Epístolas Paulinas 2</td>
                    <td>Cristo</td>
                    <td>Disciplina Associadas</td>
                  </tr>
                  <tr>
                    <td>Livros Históricos 1</td>
                    <td>Hebreus 1</td>
                    <td>O Espírito Santo</td>
                    <td>Doutrina das Últimas Coisas</td>
                  </tr>
                  <tr>
                    <td>Livros Históricos 2</td>
                    <td>Hebreus 2</td>
                    <td>Os Anjos</td>
                    <td>Oração do Tabernáculo</td>
                  </tr>
                  <tr>
                    <td>Livros Poéticos 2</td>
                    <td>Epístolas Gerais</td>
                    <td>O Homem</td>
                    <td>Gigantes da Alma</td>
                  </tr>
                  <tr>
                    <td>Profetas 1</td>
                    <td>Escatologia 1</td>
                    <td>O Pecado</td>
                    <td>Apologética</td>
                  </tr>
                  <tr>
                    <td>Profetas 2</td>
                    <td>Escatologia 2</td>
                    <td>A Salvação</td>
                    <td>Mordomia do Corpo</td>
                  </tr>
                  <tr>
                    <td>Profetas 3</td>
                    <td>Escatologia 3</td>
                    <td>A Expiação</td>
                    <td>Armas Espirituais</td>
                  </tr>
                  <tr>
                    <td>Costumes Bíblicos</td>
                    <td>Geografia Bíblica</td>
                    <td>A Igreja</td>
                    <td>Fé e Finanças</td>
                  </tr>
                </tbody>
              </table>
              
              

        <p id="missao"><em><strong>O desenvolvimento dos Assuntos</strong>.</em></p>

        <p>Parte 1 – Essa parte tem por objetivo estudar de Genesis a Malaquias, sua cultura, 
            sua escritura e sua política, conhecer a revelação para o povo da época e trazer 
            entendimento, para nossos dias.
        </p>

            <table border="1">
                <thead>
                  <tr>
                    <th>Título da Matéria</th>
                    <th>Descrição</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>O Pentateuco 1</td>
                    <td>A formação da nação de Israel e o tabernáculo. As ofertas, as divisões sacerdotais e as festas. A peregrinação no deserto, as responsabilidades das tribos e as divisões da caminhada.</td>
                  </tr>
                  <tr>
                    <td>O Pentateuco 2</td>
                    <td>Os discursos de Moisés e suas divisões.</td>
                  </tr>
                  <tr>
                    <td>Livros Históricos 1</td>
                    <td>Da Teocracia a Monarquia.</td>
                  </tr>
                  <tr>
                    <td>Livros Históricos 2</td>
                    <td>Os doze livros da história de Israel, os três principais períodos e suas divisões.</td>
                  </tr>
                  <tr>
                    <td>Livros Poéticos</td>
                    <td>Jó, Salmos, Eclesiastes e Cantares.</td>
                  </tr>
                  <tr>
                    <td>Profetas 1</td>
                    <td>A graça e o livramento de Deus para com Israel – seu tempo e sua mensagem.</td>
                  </tr>
                  <tr>
                    <td>Profetas 2</td>
                    <td>Oséias, Joel, Amós – suas mensagens, revelações e conteúdo. Obadias, Jonas, Miqueias – suas mensagens, seu conteúdo, e seu tempo.</td>
                  </tr>
                  <tr>
                    <td>Profetas 3</td>
                    <td>Naum, Habacuque, Sofonias – suas mensagens, seu conteúdo e seu tempo.</td>
                  </tr>
                  <tr>
                    <td>Costumes Bíblicos</td>
                    <td>Cultura do povo Judeu e seu entendimento aos costumes.</td>
                  </tr>
                </tbody>
              </table>
        
        <p>Parte 2 – Essa parte tem por objetivo estudar de Mateus a Apocalipse, compreender 
            a geografia e o olhar a história, trará um compreendimento melhor do novo 
            testamento e das palavras proferidas por Jesus.
        </p>

        <table border="1">
            <thead>
              <tr>
                <th>Título da Matéria</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Os Evangelhos</td>
                <td>Os quatro evangelhos, sua descrição e suas palavras.</td>
              </tr>
              <tr>
                <td>Epístolas Paulinas 1</td>
                <td>As cartas de Paulo Doutrinarias.</td>
              </tr>
              <tr>
                <td>Epístolas Paulinas 2</td>
                <td>As Cartas de Paulo em Prisão e Pastoral.</td>
              </tr>
              <tr>
                <td>Hebreus 1</td>
                <td>Jesus sendo maior que todos no velho testamento.</td>
              </tr>
              <tr>
                <td>Hebreus 2</td>
                <td>O ensino prático do ensino do escritor.</td>
              </tr>
              <tr>
                <td>Epístolas Gerais</td>
                <td>As Cartas dos apóstolos e seus ensinos.</td>
              </tr>
              <tr>
                <td>Escatologia 1</td>
                <td>A Visão de Jesus ao apóstolo João.</td>
              </tr>
              <tr>
                <td>Escatologia 2</td>
                <td>As 3 dimensões de apocalipse.</td>
              </tr>
              <tr>
                <td>Escatologia 3</td>
                <td>Os 3 agentes do fim.</td>
              </tr>
              <tr>
                <td>Geografia Bíblica</td>
                <td>Revendo a geografia bíblica onde foi escrita.</td>
              </tr>
            </tbody>
        </table>

        <p>Parte 3 – Essa parte tem por objetivo estudar as doutrinas bíblicas essenciais na 
            vida do cristão, para o seu desenvolvimento sistemático bíblico.
        </p>

        <table border="1">
            <thead>
              <tr>
                <th>Título da Matéria</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>As Escrituras</td>
                <td>Como chegou e como estudar a bíblia.</td>
              </tr>
              <tr>
                <td>Deus</td>
                <td>Seu caráter, nossa fé, como conhecê-Lo.</td>
              </tr>
              <tr>
                <td>Cristo</td>
                <td>Como agiu na terra, quem Ele é.</td>
              </tr>
              <tr>
                <td>O Espírito Santo</td>
                <td>Como age na terra, suas manifestações.</td>
              </tr>
              <tr>
                <td>Os Anjos</td>
                <td>Como agem e qual a sua função.</td>
              </tr>
              <tr>
                <td>O Homem</td>
                <td>As três partes individuais do ser humano.</td>
              </tr>
              <tr>
                <td>O Pecado</td>
                <td>O que é, e como viver em santidade.</td>
              </tr>
              <tr>
                <td>A Salvação</td>
                <td>O foi a saída do homem para viver em paz.</td>
              </tr>
              <tr>
                <td>A Expiação</td>
                <td>Qual o seu objetivo no velho e novo testamento.</td>
              </tr>
              <tr>
                <td>A Igreja</td>
                <td>Como viver igreja nos nossos dias.</td>
              </tr>
            </tbody>
        </table>

        <p>Parte 4 – essa parte tem por objetivo estudar a parte de disciplinas na vida do 
            Cristão, como: orar, jejuar e buscar a Deus com temor e tremor.
        </p>

        <table border="1">
            <thead>
              <tr>
                <th>Título da Matéria</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Disciplina Interiores</td>
                <td>Meditação, oração, jejum e estudo.</td>
              </tr>
              <tr>
                <td>Disciplina Exteriores</td>
                <td>Simplicidade, solitude, submissão e serviço.</td>
              </tr>
              <tr>
                <td>Disciplina Associadas</td>
                <td>Confissão, adoração, orientação e celebração.</td>
              </tr>
              <tr>
                <td>Doutrina das Últimas Coisas</td>
                <td>Morte, Arrebatamento, Ressurreição, Juízo.</td>
              </tr>
              <tr>
                <td>Oração do Tabernáculo</td>
                <td>Observando as peças como modelo de oração.</td>
              </tr>
              <tr>
                <td>Gigantes da Alma</td>
                <td>Os Gigantes da bíblia e a alma.</td>
              </tr>
              <tr>
                <td>Apologética</td>
                <td>Catolicismo, Adventismo, Espiritismo.</td>
              </tr>
              <tr>
                <td>Mordomia do Corpo</td>
                <td>Como cuidar do corpo como templo do Espírito.</td>
              </tr>
              <tr>
                <td>Armas Espirituais</td>
                <td>7 armas espirituais para enfrentarmos os gigantes.</td>
              </tr>
              <tr>
                <td>Fé e Finanças</td>
                <td>Como Administrar o dinheiro à luz da bíblia.</td>
              </tr>
            </tbody>
        </table>

        <p id="missao"><em><strong>Requisitos para Estudar Teologia</strong>.</em></p>

        <p>
            Estar acima dos 16 anos, saber ler e escrever, estar ligado a uma denominação 
            Cristã, estar sendo ou ter passado por discipulado, pessoas de outras religiões 
            também podem fazer.
        </p>
          
        <h2 class="titulo-principal"><strong>Lista de professores em Teologia </strong></h2>

        <p><strong>Bruno Vicentin</strong>, formado e pós graduado em ADM com ênfase em gestão de 
            pessoas, formação teológica pelo instituto Shekinah, instituto Tsamah, instituto 
            formação crista IFC, aconselhamento IFC, Especialização pelo IFC TEXAS 
            CRISTIAN, reconhecimento teológico Unicesumar, Doutorado em novo e velho
            testamento pela FABAD, Diretor executivo da Capelania Hospitalar de Santa 
            Barbara d oeste, Líder do ministério de intercessão e aconselhamento da
            Comunidade Templo Vivo, formado em psicanálise, sexólogo, terapia sistêmica 
            familiar, terapia cognitivo comportamental.
        </p>
        
        <p><strong>Cibele Cristina Nardini Guassi</strong>, Formação ( Escola de Líderes), Líder de Célula
            Ministra de Cursos da UDF ( Universidade da família) - Mulher Única Mulheres a 
            serviço de Deus, Aliança, Criação de filhos, Formação em Teologia (IFC) Escola de 
            Ministérios ( 2016-2019). Pós em Teologia - (IBF) Instituto Bíblico Fé (2020 - 2021)
            Formação em Aconselhamento Cristão (Clínica da Alma IBF) 2022- 2023, 
            Formanda em Psicanalise – IBF ( Formação de Psicanalise) 2024 – 2026.
        </p>

        <p><strong>Paulo Monteiro</strong>, Formado em teologia pelo Instituto Yavé Raah em Campinas
            Líder de jovens da comunidade Templo Vivo por 15 anos
            Professor do IBF desde sua fundação
            Membro atuante da Comunidade Templo em auxilio aos pastores da igreja.
            Responsável junto com minha esposa a 12 anos do curso ONE da UDF na 
            Comunidade Templo Vivo, curso voltado a casais de noivos 
        </p>

        
        <p><strong>Sidenei Ferrarezi</strong>, Pastor da Igreja Cristã Vida e Paz, Bacharel em Teologia pela 
            Faceten 2015, Aconselhamento Cristão (Clínica da Alma) 2023, Capelão direito da 
            Religião 2021, formando em Psicanalise (IBF) 2024 – 2026.
            
        </p>
              
    </section>

    <section class="principal">
        <h2 class="titulo-principal"><strong>Grade Curricular – IBF  <br> Clínica da Alma
        </strong></h2>

        
        <p>A Clinica da Alma, é um curso de dois anos, nesse curso, obrigatoriamente o aluno 
            precisa completar os dois anos, para que possa atuar como conselheiro em uma 
            igreja, a clinica tem por objetivo trabalhar as emoções do aluno, para que possa 
            gerenciar suas emoções e também possa ajudar o próximo, o lema da clinica é: 
            ajudando a si e o próximo, nela temos vários professores, médicos, psicólogos, 
            10
            pastores, fazendo assim com o aluno possa compreender mais de si, como o 
            próprio nome diz, é Clinica, é tratamento.
            
        </p>

        <table border="1">
            <thead>
              <tr>
                <th>Título da Matéria</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Disciplina Interiores</td>
                <td>Meditação, oração, jejum e estudo.</td>
              </tr>
              <tr>
                <td>Disciplina Exteriores</td>
                <td>Simplicidade, solitude, submissão e serviço.</td>
              </tr>
              <tr>
                <td>Disciplina Associadas</td>
                <td>Confissão, adoração, orientação e celebração.</td>
              </tr>
              <tr>
                <td>Doutrina das Últimas Coisas</td>
                <td>Morte, Arrebatamento, Ressurreição, Juízo.</td>
              </tr>
              <tr>
                <td>Oração do Tabernáculo</td>
                <td>Observando as peças como modelo de oração.</td>
              </tr>
              <tr>
                <td>Gigantes da Alma</td>
                <td>Os Gigantes da bíblia e a alma.</td>
              </tr>
              <tr>
                <td>Apologética</td>
                <td>Catolicismo, Adventismo, Espiritismo.</td>
              </tr>
              <tr>
                <td>Mordomia do Corpo</td>
                <td>Como cuidar do corpo como templo do Espírito.</td>
              </tr>
              <tr>
                <td>Armas Espirituais</td>
                <td>7 armas espirituais para enfrentarmos os gigantes.</td>
              </tr>
              <tr>
                <td>Fé e Finanças</td>
                <td>Como Administrar o dinheiro à luz da bíblia.</td>
              </tr>
            </tbody>
        </table>

          
              
              

        <p id="missao"><em><strong>Desenvolvimento dos Assuntos</strong>.</em></p>

        <p>No primeiro ano, estuda-se a respeito das emoções, com o objetivo de reconhecer 
            a si mesmo e as ações que muitas vezes são tomadas pelas pessoas de maneira 
            inconsciente.
        </p>

        <table border="1">
            <thead>
              <tr>
                <th>Matéria</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>As dimensões da Alma</td>
                <td>Como Deus estabeleceu a Alma do homem.</td>
              </tr>
              <tr>
                <td>Aparelho Psíquico</td>
                <td>Como funciona a mente do ser humano.</td>
              </tr>
              <tr>
                <td>Perdas e Luto</td>
                <td>Como se desenvolver diante da perda.</td>
              </tr>
              <tr>
                <td>Sexualidade</td>
                <td>Identificando a sexualidade à luz da bíblia.</td>
              </tr>
              <tr>
                <td>Identidade de Gênero</td>
                <td>Como o Cristão lida com LGBTQIA+.</td>
              </tr>
              <tr>
                <td>Finanças do Obreiro</td>
                <td>O dinheiro e o Cristão.</td>
              </tr>
              <tr>
                <td>Temperamentos</td>
                <td>Identificando os 5 temperamentos.</td>
              </tr>
              <tr>
                <td>A Importância dos Sonhos</td>
                <td>O que os sonhos dizem sobre si.</td>
              </tr>
              <tr>
                <td>Gestão Emocional</td>
                <td>Como gerenciar as emoções.</td>
              </tr>
              <tr>
                <td>Transtornos de Personalidade</td>
                <td>Os 10 transtornos e o espiritual.</td>
              </tr>
            </tbody>
        </table>
          
        
        <p>No Segundo ano, um estudo voltado para o desenvolvimento pessoal e como é 
            desenvolvido a estrutura familiar, com essa base o aluno consegue se identificar na 
            família e ajudar os que estão próximos.
        </p>

        <table border="1">
            <thead>
              <tr>
                <th>Matéria</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Personalidade em transformação</td>
                <td>Personalidade que transforma pela palavra.</td>
              </tr>
              <tr>
                <td>Ansiedade à luz da palavra</td>
                <td>Como a bíblia trata a ansiedade.</td>
              </tr>
              <tr>
                <td>A conquista da mente, vontade e emoções</td>
                <td>Conquistando as três dimensões da alma.</td>
              </tr>
              <tr>
                <td>Ética Cristã</td>
                <td>Como lidar com as pessoas de forma ética e equilibrada.</td>
              </tr>
              <tr>
                <td>Tipos de família</td>
                <td>Identificando as famílias.</td>
              </tr>
              <tr>
                <td>Restaurando o Passado, preparando o futuro</td>
                <td>Olhando o passado para transformar o futuro para amadurecimento do ser humano.</td>
              </tr>
              <tr>
                <td>Família e sociedade</td>
                <td>Como a família se identifica no cenário atual.</td>
              </tr>
              <tr>
                <td>Psicologia Cristã</td>
                <td>Como aconselhar vidas.</td>
              </tr>
              <tr>
                <td>Genetograma</td>
                <td>Identificando e tratando os genes familiares.</td>
              </tr>
              <tr>
                <td>Triangulamento familiar</td>
                <td>Como perceber o distanciamento que destrói a família.</td>
              </tr>
            </tbody>
        </table>
          
        <p id="missao"><em><strong>O Laboratório</strong>.</em></p>

        <p>
            Durante os dois anos da Clínica, os alunos participarão do laboratório de 
            atendimento, uma pessoa, ou um casal, estará no estúdio sendo atendido por um 
            dos profissionais psicológicos, onde os alunos poderão participar aconselhando ao
            conselheiro como pode aquela pessoa, ou casal, agir para melhorar a vida.
        </p>


        <p id="missao"><em><strong>Requisitos para o Aluno</strong>.</em></p>

        <p>
            Ter Acima de 20 anos, 4 anos no mínimo de evangelho, ter realizados um dos cursos 
            IBF.
        </p>
          
        <h2 class="titulo-principal"><strong>Lista de Professores Clínica da Alma</strong></h2>

        <p><strong>Bruno Vicentin</strong>, formado e pós graduado em ADM com ênfase em gestão de 
            pessoas, formação teológica pelo instituto Shekinah, instituto Tsamah, instituto 
            formação crista IFC, aconselhamento IFC, Especialização pelo IFC TEXAS 
            CRISTIAN, reconhecimento teológico Unicesumar, Doutorado em novo e velho
            testamento pela FABAD, Diretor executivo da Capelania Hospitalar de Santa 
            Barbara d oeste, Líder do ministério de intercessão e aconselhamento da
            Comunidade Templo Vivo, formado em psicanálise, sexólogo, terapia sistêmica 
            familiar, terapia cognitivo comportamental.
        </p>
        
        <p><strong>Lucilene Sbriça</strong>, Psicóloga com abordagem Clinica Comportamental, 
            atendimento de crianças, adultos e idosos, palestrante de saúde mental, membra 
            da igreja Nazareno.
        </p>

        <p><strong>Lais Akemi Morimoto Setra</strong>, Medica Obstétrica formada pela usp</p>

        
        <p><strong>Larissa Morimoto Menegalli</strong>, Psicóloga Clínica com neurociência
        </p>

        <p><strong>Bianca Zaramela</strong>, Medica, Psiquiatrica trabalha com Psicanalise clinica.
        </p>
              
    </section>


    <section class="principal">
        <h2 class="titulo-principal"><strong>Grade Curricular do Instituto Bíblico Fé <br> Prospere
        </strong></h2>

        
        <p>O Curso Prospere, tem como objetivo, trabalhar todo a parte financeira a luz da 
            bíblia, todos os temas trabalham como o cristão deve se relacionar com o dinheiro 
            para fazer com que a sua vida esteja alinhada com a vontade de Deus descrita a luz 
            da bíblia
        </p>

        <table border="1">
          <thead>
            <tr>
              <th>Matérias</th>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>As Finanças</td>
              <td>Como a mente entende as finanças.</td>
            </tr>
            <tr>
              <td>A mordomia Cristã</td>
              <td>O dinheiro como servo e não patrão.</td>
            </tr>
            <tr>
              <td>Dízimos a forma de prosperar</td>
              <td>Os mandamentos bíblicos para a prosperidade.</td>
            </tr>
            <tr>
              <td>Organização financeira</td>
              <td>As nomenclaturas usadas nas finanças.</td>
            </tr>
            <tr>
              <td>Uma mente próspera</td>
              <td>Restabelecendo as emoções nas finanças.</td>
            </tr>
            <tr>
              <td>Bolsa de valores</td>
              <td>Como trabalhar com a Bolsa de valores.</td>
            </tr>
            <tr>
              <td>Ações bancárias</td>
              <td>Entendendo como trabalhar com o banco.</td>
            </tr>
          </tbody>
        </table>

        <p id="missao"><em><strong>Requisitos do Aluno</strong>.</em></p>

        <p>Ter acima de 16 anos, 4 anos no mínimo de evangelho, ter realizados um dos cursos 
          IBF, estar engajado nos estudos, nesse curso não existe elucidação a ser feito.
        </p>
          
        <h2 class="titulo-principal"><strong>Lista de professores IBF - Prospere</strong></h2>

        <p><strong>Bruno Vicentin</strong>, formado e pós graduado em ADM com ênfase em gestão de 
            pessoas, formação teológica pelo instituto Shekinah, instituto Tsamah, instituto 
            formação crista IFC, aconselhamento IFC, Especialização pelo IFC TEXAS 
            CRISTIAN, reconhecimento teológico Unicesumar, Doutorado em novo e velho
            testamento pela FABAD, Diretor executivo da Capelania Hospitalar de Santa 
            Barbara d oeste, Líder do ministério de intercessão e aconselhamento da
            Comunidade Templo Vivo, formado em psicanálise, sexólogo, terapia sistêmica 
            familiar, terapia cognitivo comportamental.
        </p>
        
        <p><strong>Carmem Cristina R. Cassoni</strong>,  Casada, 2 filhos,56 anos congrega na Igreja do 
          Nazareno Central de Americana Participo da liderança dos Cursos para Mulheres e 
          sou Líder do Curso “A Mulher que Prospera “FORMAÇÃO CRISTÃ: TEOLOGIA IFC –
          Instituto de Formação Cristã 2020 – 2023, PANORAMA BÍBLICO – em formação IBF 
          - Instituto Bíblico de Fé, 2023 – 2024, ACONSELHAMENTO CRISTÃO –IFC – Instituto 
          de Formação Cristã 2023 – 2024, FORMAÇÃO SECULAR ADMINISTRAÇÃO DE 
          EMPRESAS, Faculdades Capital – SP 1988 – 1991, PÓS-GRADUAÇÃO EM 
          GERENCIAMENTO DE PROJETOS, SENAC 2007-2008 EXPERIÊNCIA PROFISSIONAL
          Villares Metals S/A (1983 – 2015), Atuei na Área de Tecnologia da Informação e fui 
          responsável por Governança de TI (Custos e Orçamentos, Contratos e Telefonia) e 
          gerenciamento de Projetos para melhorias na entrega de serviços de TI.
        </p>

        <p><strong>André Tonarque</strong>, Bancário - 21 anos de Banco do Brasil Formação Acadêmica:
          Engenheiro Eletro-Eletrônico; Curso de Teologia IFC Escola de Ministérios, Curso 
          Velho e Novo Testamento - IBF - Instituto Bíblico Fé, 16 anos Liderança de Jovens -
          CTV - Comunidade Templo Vivo.
        </p>

        
        <p><strong>Rodrigo Setra</strong>,  Profissional do ramo de manutenção de mineração e Educador 
          financeiro, formado em administração e gestão estratégica de negócios, 
          Especialização em finanças pessoais pela FGV, Investimento pela B3, Renda fixa 
          pelo tesouro direito e educação financeira pelo banco central, congrega na igreja 
          família da fé de Campinas.
            
        </p>
              
    </section>

    <section class="principal">
      <h2 class="titulo-principal"><strong>Grade Curricular do Instituto Bíblico Fé <br> Psicanálise
      </strong></h2>

      
      <p>Curso de três anos, o aluno poderá atuar como psicanalista clínico, podendo 
        atender pessoas em uma clinica pessoal, ou em um grupo.
      </p>

      <p>A psicanálise é uma abordagem terapêutica que estuda o inconsciente humano e 
        ajuda a tratar transtornos mentais. O objetivo é ajudar os pacientes a 
        compreenderem melhor os seus sentimentos e emoções, e a identificar como o 
        inconsciente influencia as suas ações e pensamentos.
      </p>

      <p>A psicanálise foi desenvolvida pelo médico austríaco Sigmund Freud, no final do 
        século XIX. Freud acreditava que os problemas das pessoas estavam relacionados 
        com pensamentos, sentimentos e comportamentos reprimidos no inconsciente.
      </p>

      <p>A psicanálise pode ser utilizada para tratar: Ansiedade, Depressão, Outros 
        transtornos, Problemas de relacionamento, Dificuldade de concentração.
      </p>

      <p>As sessões de psicanálise podem ser realizadas com adultos, adolescentes e 
        crianças, individualmente ou em grupo.
      </p>

      <p>Podendo o aluno iniciar o seu Estágio Supervisionado em 1 ano.
      </p>

      <p id="missao"><em><strong>Nosso Programa de Formação em Psicanálise segue o tripé psicanalítico 
        estabelecido por Freud:</strong> conhecimentos teóricos, supervisão e análise pessoal.
      </em></p>

      <p id="missao"><em><strong>O material é extenso e aprofundado,</strong> baseado nos preceitos de Freud e 
        aprofundado em outros pensadores da Psicanálise, como Lacan, Bion, Klein e 
        Jung.
      </em></p> 

      <p id="missao"><em><strong>São diversas atividades que juntas compõem a Formação em 
        Psicanálise</strong> estudos de teoria psicanalítica, grupos de estudos, grupos de leituras, 
        conferências teórico-clínicas, estágio, supervisão e análise pessoal.
      </em></p> 

      <p id="missao"><em><strong>Para quem se interessa em ser psicanalista</strong>, nessa caminhada será agregado ao 
        <strong>seu conhecimento técnicas e táticas</strong> importantes para lidar com problemas 
        pessoais ou até mesmo de outras pessoas, o profissional psicanalista estará apto 
        a trabalhar em diversas áreas, com um <strong>leque amplo para atuação</strong> além de poder 
        atuar sempre de maneira distinta, já que os caminhos e soluções encontradas são 
        aplicadas individualmente, variando de pessoa para pessoa
      </em></p> 



      <p>
        O vasto leque de opções para praticar, as várias áreas em que se pode atuar, os 
        inúmeros problemas <strong>psíquicos</strong> que se podem mapear e tratar e a certeza de que
        o <strong>profissional psicanalista</strong> é sempre requisitado e tem sempre demanda para 
        exercer a sua função, fazem da Psicanálise uma das funções mais estáveis 
        profissionalmente e porque não chama-la de a <strong>profissão do futuro</strong>.
      </p>



      <table>
        <thead>
            <tr>
                <th>Número</th>
                <th>Matéria</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>INTRODUÇÃO À PSICANÁLISE I</td>
                <td>Entenda a Psicanálise</td>
            </tr>
            <tr>
                <td>2</td>
                <td>HISTÓRIA DA PSICANÁLISE</td>
                <td>Como foi seu Processo Histórico de Descobrimento</td>
            </tr>
            <tr>
                <td>3</td>
                <td>FASES PSICO-SEXUAIS DA CRIANÇA</td>
                <td>Como é Formada a Psique e Sexualidade da Criança</td>
            </tr>
            <tr>
                <td>4</td>
                <td>MECANISMOS DE DEFESA DO EGO</td>
                <td>Como nos Defendemos da Angústia do EGO</td>
            </tr>
            <tr>
                <td>5</td>
                <td>INTERPRETAÇÃO DE SONHOS</td>
                <td>Base da Teoria Psicanalítica - Os Sonhos é Porta do Inconsciente</td>
            </tr>
            <tr>
                <td>6</td>
                <td>COMPLEXO DE ÉDIPO</td>
                <td>O Narcisismo é uma das Bases da Construção da Personalidade</td>
            </tr>
            <tr>
                <td>7</td>
                <td>COMPLEXO DE ELECTRA</td>
                <td>Entenda as Mulheres</td>
            </tr>
            <tr>
                <td>8</td>
                <td>O MITO DE NARCISO</td>
                <td>O Narcisismo é uma das Bases da Construção da Personalidade</td>
            </tr>
            <tr>
                <td>9</td>
                <td>ESTRUTURAS CLÍNICAS- NEUROSE, PSICOSE E PERVERSÃO</td>
                <td>A Origem Psicológica das Doenças</td>
            </tr>
            <tr>
                <td>10</td>
                <td>PSICANÁLISE E MITOLOGIA</td>
                <td>Como a Psicanálise Entende e se Utiliza da Mitologia</td>
            </tr>
            <tr>
                <td>11</td>
                <td>A PSICANÁLISE DEPOIS DE JUNG</td>
                <td>A Influência de Jung na Compreensão da Psicanálise</td>
            </tr>
            <tr>
                <td>12</td>
                <td>A PSICANÁLISE E KLEIN</td>
                <td>A Teoria Objetal de Klein e a Psicanálise com Crianças</td>
            </tr>
            <tr>
                <td>13</td>
                <td>A PSICANÁLISE WINICOTINIANA</td>
                <td>Winnicout e Mãe Suficientemente Boa</td>
            </tr>
            <tr>
                <td>14</td>
                <td>A PSICANÁLISE E BION</td>
                <td>Bion e Estruturas do modo de Pensar</td>
            </tr>
            <tr>
                <td>15</td>
                <td>O USO DAS TERAPIAS BREVES - CURA DOS TRAUMAS EMOCIONAIS</td>
                <td>O Uso das Terapias Breves - Cura dos Traumas Emocionais</td>
            </tr>
            <tr>
                <td>16</td>
                <td>PSICANÁLISE E TERAPIA FAMILIAR</td>
                <td>Como a Psicanálise pode ser Usada na Cura e Desenvolvimento Familiar</td>
            </tr>
            <tr>
                <td>17</td>
                <td>10 PAPÉIS DO PSICANALISTA NO SÉCULO XXI</td>
                <td>O Envolvimento da Psicanálise no Mundo Atual</td>
            </tr>
            <tr>
                <td>18</td>
                <td>O TRABALHO NO CONSULTÓRIO - PRÁTICA PSICANALÍTICA</td>
                <td>Quais são os Fundamentos para Montar a Análise de uma Paciente</td>
            </tr>
            <tr>
                <td>19</td>
                <td>TRANSTORNOS DA INFÂNCIA E ADOLESCÊNCIA</td>
                <td>Abordagem da Psicanálise no Tratamento de Crianças e Adolescentes</td>
            </tr>
            <tr>
                <td>20</td>
                <td>ORIGEM PSICOLÓGICAS DAS DOENÇAS</td>
                <td>Transtornos e Doenças</td>
            </tr>
            <tr>
                <td>21</td>
                <td>10 TRANSTORNOS DE PERSONALIDADE</td>
                <td>Classificação e Tratamento dos 10 Transtornos de Personalidade</td>
            </tr>
            <tr>
                <td>22</td>
                <td>O LUTO E SUA SIMBOLOGIA NA VIDA</td>
                <td>Tratando o Luto e a Melancolia</td>
            </tr>
            <tr>
                <td>23</td>
                <td>TRANSTORNO BORDERLINE</td>
                <td>Entenda e Diagnostico o Transtorno Borderline</td>
            </tr>
            <tr>
                <td>24</td>
                <td>TRANSTORNO DE ANSIEDADE E SUICÍDIO</td>
                <td>Tratamento do Transtorno de Ansiedade e Suicídio</td>
            </tr>
            <tr>
                <td>25</td>
                <td>LABORATÓRIO DE PSICANÁLISE - PRÁTICA DA CLÍNICA</td>
                <td>Aplicando a Prática Psicanalítica</td>
            </tr>
            <tr>
                <td>26</td>
                <td>COMPULSÕES E DEPENDÊNCIA QUÍMICA</td>
                <td>Tratamento das Compulsões e da Dependência Química</td>
            </tr>
            <tr>
                <td>27</td>
                <td>PSICANÁLISE E ADICTOS</td>
                <td>Como atender pessoas drogadas</td>
            </tr>
            <tr>
                <td>28</td>
                <td>PSICOFARMACOLOGIA</td>
                <td>Como decifrar os psicotrópicos</td>
            </tr>
            <tr>
                <td>29</td>
                <td>PSICANÁLISE E A FAMÍLIA</td>
                <td>O ser na constituição familiar</td>
            </tr>
            <tr>
                <td>30</td>
                <td>PSICANÁLISE E NEUROCIÊNCIA</td>
                <td>Como neurociência atua na psicanálise</td>
            </tr>
            <tr>
                <td>31</td>
                <td>PSICANÁLISE, SAÚDE E SOCIEDADE</td>
                <td>Como o psicanalista pode identificar a sociedade</td>
            </tr>
            <tr>
                <td>32</td>
                <td>ÉTICA EM PSICANÁLISE E LEGISLAÇÕES DE ATUAÇÃO PROFISSIONAL</td>
                <td>Ética e Consciência Moral em Freud, Lacan e a Ética Psicanalítica, A Clínica Psicanalítica e a Ética, A Atuação do Psicanalista no Brasil, Amparo Legal no Brasil</td>
            </tr>
            <tr>
                <td>33</td>
                <td>MARKETING PARA PSICANALISTAS</td>
                <td>Como usar as redes</td>
            </tr>
            <tr>
                <td>34</td>
                <td>PSICANÁLISE E LITERATURA</td>
                <td>Contos infantis e a psicanálise</td>
                <tr>
                  <td>34</td>
                  <td>PSICANÁLISE E LITERATURA</td>
                  <td>Contos infantis e a psicanálise</td>
              </tr>
              <tr>
                  <td>35</td>
                  <td>SEXOLOGIA E PSICANÁLISE</td>
                  <td>O que é o sexo na psicanálise</td>
              </tr>
              <tr>
                  <td>36</td>
                  <td>TRABALHO DE CONCLUSÃO DO CURSO</td>
                  <td>Exposição dos Trabalhos e Propostas de Clínica</td>
              </tr>

        </tbody>
      </table>

      <h2 class="titulo-principal"><strong>Requisitos para ser Aluno de Psicanálise</strong></h2>

      <p>Ter acima de 18 anos, ter terminado o ensino médio, aberto para as áreas de 
        trabalho.
        É necessário que o aluno para receber o diploma faça 50 horas de analise, 
        presencial ou online, com um psicanalista.
        
      </p>
      <h2 class="titulo-principal"><strong>Diploma de Psicanalista</strong></h2>
      <p>O Curso de Formação Psicanalítico fornece certificado ao(à) formado(a), 
        habilitando-o(a) para atuação psicanalítica e clínica em todo território nacional.

        Seu Certificado será emitido pelo <strong>Instituto Formação Psicanalítica</strong>, nenhum 
        curso de formação psicanalítica possui certificação do MEC, ele é fornecido apenas 
        pelas instituições de formação, amparados pela Lei nº 9394/96 e pelos Decretos nº 
        2.494/98 e nº 2.208/97
      </p>

      <h2 class="titulo-principal"><strong>Professores</strong></h2>


      <p><strong>José Valter Montever</strong>,  Bacharel em Teologia, Licenciando em filosofia, pós 
        graduado em psicologia pastoral e mestrado em saúde mental e psicanalista.
      </p>

      
      <p><strong>Nanashara Rodrigues</strong>, Formada em Administração com gestão em 
        marketing;Teologia Básica e Avançada e Aconselhamento Cristão pelo IFC; 
        Psicanalista Clínica e Neuropsicanalista infantil.
      </p>

      <p><strong>Luciana de Sene Bonilha</strong>, Psicanalista, Graduada em Análise de Sistemas, 
        Graduada em Ciências da Religião, MBA em Marketing, Cursando Teologia no IFC.
      </p>
            
    </section>

    <section class="principal">
    <h2 class="titulo-principal"><strong>Filosofia Educacional <br></strong></h2>

    
    <p>O Instituto Bíblico Fé, considera o homem como ser tridimensional (Espírito, Alma 
      e Corpo) e, como tal, objetiva uma solida educação cristã baseada no 
      conhecimento da palavra revelada, o desenvolvimento do caráter e maturidade 
      cristã e a formação ministerial através da aplicação dos princípios bíblicos na vida 
      diária do aluno.
    </p>

    <p>O Instituto Bíblico Fé tem como princípio a unidade do corpo de Cristo. O exercício 
      dos dons ministeriais, vocacionais e espirituais é realizado através de um profundo 
      senso de amor cristão.
    </p>

    <p>A palavra de Deus é a autoridade final em todas as matérias ministradas pelo 
      instituto, esta condição é observada por todo o corpo docente da escola. Assim é 
      que se promove o desenvolvimento total do cristão.
    </p>

    <p>O instituto bíblico fé é uma escola de caráter interdenominacional, admitindo 
      estudantes independentes de raça, cor, sexo, idade, deficiência física, 
      nacionalidade ou origem étnica.
    </p>

    <p id="missao"><em><strong>Recomendações aos Alunos</strong></em></p>

    <p>Seja bem-vindo ao Instituto Bíblico Fé, nossa visão é fortalecer o conhecimento nas 
      escrituras e formar homens e mulheres capazes de influenciar o mundo com a 
      palavra de Deus, pois, somente a Palavra, pode verdadeiramente transformar vidas 
      trazendo libertação, cura e restauração familiar, toda a vez que abrimos a Bíblia, 
      estamos abrindo a boca de Deus para falar, por isso, a Fé vem por ouvir e ouvir a 
      Palavra de Deus (Rm 10:17), é neste texto que nossa escola está baseada, é pelas 
      escrituras que estamos formando pessoas.
    </p>

    <p><strong>
      Para isso é muito importante seu engajamento e compromisso com todas as
        atividades e comparecimento nas aulas.
    </strong></p>

    <p>
      Recomendamos assim alguns apontamentos importantes para seu melhor 
      aproveitamento
    </p>
    <p><strong>1 -</strong> Mantenha em dia sua mensalidade.
    </p>
    <p><strong>2 -</strong> Você pode ter 12 faltas durante o ano, se houver mais de 
      duas faltas no modulo, terá que refazer, por aulas gravadas 
      (será cobrado uma taxa de 20 reais, para a liberação da aula)</p>
    <p><strong>3 -</strong> Leia a apostila antes das Aulas.</p>
    <p><strong>4 -</strong> Entregue no prazo as Elucidações.</p>
    <p><strong>5 -</strong> Faça todas as atividades com dedicação e amor.</p>
      
    <h2 class="titulo-principal"><strong>Alunas Online</strong></h2>


      <p><strong>1 -</strong> Priorize o dia e hora das aulas, não marque nada nesse dia.</p>

      <p><strong>2 -</strong> Escolha um ambiente onde você pode focar nas aulas, sem que haja distrações.</p>
      
      <p>
        <strong>3 -</strong> Deixe sempre tudo preparado, seu computador (celular, tablet...), verifica
        se sua internet está ligada.
      </p>
      <p><strong>4 -</strong> Câmera desligada, sem aviso do motivo, será tido como falta.</p>
      <p><strong>5 -</strong> Bíblia, apostila, caderno para anotações.</p>

      <h2 class="titulo-principal"><strong>Sistema de Avaliação</strong></h2>

      <p>Instituto bíblico fé utiliza o sistema de elucidação, cada aluno receberá via sistema 
        a elucidação online que deverá ser feita em uma semana, o aluno ao fazer a 
        elucidação poderá consultar o material didático oferecido pela escola para 
        responder a cada pergunta. </p>

      <p>Alunos que não desejarem fazer a elucidação, poderá se ingressar como aluno 
        ouvinte, porém receberá apenas o certificado de conclusão. </p>


        <h2 class="titulo-principal"><strong>Código de Conduto dos Alunos
        </strong></h2>

        <p>Os alunos deverão comparecer às aulas, verão vestir-se decentemente a fim de 
          demonstrar o seu caráter cristão: </p>
  
        <p>Homens: shorts e camisetas regatas não serão permitidos.</p>

        <p>Mulheres: shorts, minissaias, vestidos decotados, calças leggings ou muito justas
          ei com cintura baixa, não são permitidas. </p>
        <p>A chave é modéstia e sobriedade, e disse esperar que pessoas que estejam
          estudando para o Ministério usem roupas condizentes com a moral cristã.</p>
        <p>Será notificado e desligado da escola o aluno comprovadamente envolvido com 
          drogas ilegais, sexo ilícito, apresentar-se alcoolizado, envolvido em fraudes e 
          estelionato e outros fatos graves desabonadores</p>
        <p>O aluno que for encontrado agindo de maneira contrária a moral cristã será 
          disciplinado, podendo chegar ao ponto de expulsão da escola.</p>
        <p>É vedando ao aluno, a reprodução não autorizada de apostilas e todo o material 
          didático da escola, ficando mesmo sujeito às penalidades da lei.</p>
        <p>Evitar conversas paralelas enquanto os professores estiverem ensinando em sala 
          de aula, não fazer barulho que possa distrair a atenção dos demais alunos.</p>
        <p>Sujeitar-se a orientação do professor quanto as perguntas a serem feitas. Caso 
          necessite sair antes do término da aula, o aluno deverá solicitar autorização ao 
          professor, é expressamente proibido aos alunos gravarem as aulas.</p>
        <p>A obediência às orientações da escola faz parte do caráter cristão.</p>


        <h2 class="titulo-principal"><strong>Frequência às aulas</strong></h2>

        <p>O aluno deverá confirmar sua presença ao chegar na sala de aula através de lista 
          de presença. Caso o aluno assine a lista de presença e não permaneça na sala de 
          aula, será computada a falta pelo professor.</p>
  
        <p>O aluno deverá chegar pontualmente às aulas no horário marcado, serão 
          permitidas apenas 2 faltas por matéria em 12 faltas durante o ano, mais do que 2 
          faltas numa matéria, a mesma deverá ser refeita, o aluno poderá repor a aula 
          adquirindo a gravação da matéria antes da data da elucidação. O aluno que exceder 
          o limite de faltas por matéria, esta será considerada como EAD. </p>

          <p>As faltas por motivo de força maior, enfermidade, Morte de parente direto ou 
            aqueles os motivos forem aceitos pela diretoria, serão consideradas faltas 
            justificadas não serão computadas, porém devem assistir a aula online para que as 
            faltas sejam abonadas. O aluno não obterá o diploma sem a frequência mínima.</p>

    </section>

</main>
{% endblock %}