{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<!-- Carousel -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for item in slides %}
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}"
            {% if loop.first %} class="active" aria-current="true" {% endif %}
            aria-label="Slide {{ loop.index }}"></button>
    {% endfor %}
  </div>

  <div class="carousel-inner">
    {% for item in slides %}
    <div class="carousel-item {% if loop.first %}active{% endif %}">
      {% if item['imagem'] %}
      <img src="{{ url_for('static', filename=item['imagem']) }}"
           class="d-block w-100 img-limite"
           alt="{{ item['titulo'] }}">
      {% else %}
      <img src="{{ url_for('static', filename='img/logo/logo.png') }}"
           class="d-block w-100 img-limite"
           alt="Imagem padrão">
      {% endif %}
      <div class="carousel-caption d-none d-md-block">
        <h5 class="titulo-carousel">{{ item['titulo'] }}</h5>
        <p class="p-carousel">{{ item['descricao'] }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </button>
</div>





  
<!-- cards Cursos -->
<h2 class="container text-center my-3 my-xl-3">Cursos disponíveis</h2>
<div class="container row mx-auto g-4">
  <div class="col-12 col-md-6 col-xxl-3">
    <div class="card w-100 h-100">
      <img src="{{ url_for('static', filename='img/imagens/biblia.png') }}" alt="">
      <div class="card-body">
        <h5 class="card-title">IBF - Teologia</h5>
        <p class="card-text">Esse curso tem o objetivo de trazer um entendimento completo do ensino teológico ... </p>
        <p>Duração: 4 anos</p>
        <a href="{{ url_for('teologia.teologia') }}" class="btn btn-primary rounded-0 botao-lilas">Ver mais</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xxl-3">
    <div class="card w-100 h-100">
      <img src="{{ url_for('static', filename='img/imagens/bibliaedinheiro.png') }}" alt="">
      <div class="card-body">
        <h5 class="card-title">IBF - Prospere</h5>
        <p class="card-text">O curso IBF-Prospere tem como objetivo trabalhar toda a parte financeira à luz da bíblia</p>
        <p>Duração: 2 Anos</p>
        <a href="{{ url_for('prospere.prospere') }}" class="btn btn-primary rounded-0 botao-lilas">Ver mais</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xxl-3">
    <div class="card w-100 h-100">
      <img src="{{ url_for('static', filename='img/imagens/Clinica Da Alma.jpg') }}" alt="">
      <div class="card-body">
        <h5 class="card-title">IBF - Clínica da Alma</h5>
        <p class="card-text">A Clinica da Alma, é um curso de dois anos, para que o aluno possa atuar como conselheiro em uma igreja.</p>
        <p>Duração: 2 Anos</p>
        <a href="{{ url_for('clinica.clinica') }}" class="btn btn-primary rounded-0 botao-lilas">Ver mais</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xxl-3">
    <div class="card w-100 h-100">
      <img src="{{ url_for('static', filename='img/imagens/Psicanalise Crista.png') }}" alt="">
      <div class="card-body">
        <h5 class="card-title">IBF - Psicanálise</h5>
        <p class="card-text">Curso de três anos, o aluno poderá atuar como psicanalista clínico, podendo atender pessoas em uma clinica pessoal, ou em um grupo.</p>
        <p>Duração: 3 Anos</p>
        <a href="{{ url_for('psicanalise.psicanalise') }}" class="btn btn-primary rounded-0 botao-lilas">Ver mais</a>
      </div>
    </div>
  </div>
</div>

<!-- Ajuda projeto -->
<section class="pb-4 bg-black text-bg-dark mt-3">
  <h2 class="text-center p-4 titulo-facilidade">Nos ajude a continuar esse projeto</h2>
  <div class="d-flex flex-xxl-row flex-column align-items-center gap-3 justify-content-center">
    <div class="divs-facilidade d-flex">
      <div><i class="facilidades-logo bi bi-x-diamond fs-1"></i></div>
      <div>
        <div class="ms-3 mb-1">DOE PELO PIX</div>
        <div class="texto-pequeno ms-3">Chave Pix</div>
        <div class="texto-pequeno ms-3">(19)99168-6675</div>
        <div class="texto-pequeno ms-3">Bruno Gustavo Vicentin</div>
      </div>
    </div>
    <div class="divs-facilidade d-flex">
      <div><i class="facilidades-logo bi bi-book-half fs-1"></i></div>
      <div>
        <div class="ms-3 mb-1">SOMENTE A PALAVRA</div>
        <div class="texto-pequeno ms-3">Ensinamentos bíblicos sem viés doutrinário</div>
        <div class="texto-pequeno ms-3">Apenas a bíblia em foco</div>
      </div>
    </div>
    <div class="divs-facilidade d-flex">
      <div><i class="facilidades-logo bi bi-book fs-1"></i></div>
      <div>
        <div class="ms-3 mb-1">Estudos Bíblicos</div>
        <div class="texto-pequeno ms-3">Estudos gratuitos disponibilizados aqui</div>
      </div>
    </div>
  </div>
</section>

<!-- Formulário de novidades -->
<form class="border border-secondary m-3 p-3 text-center">
  <h5>Quer receber nossas novidades? Cadastre-se!</h5>
  <div class="input-group my-3 b-fixed">
    <input type="email" class="form-control border-secondary rounded-0" placeholder="Digite seu e-mail" aria-label="Digite seu e-mail"
           aria-describedby="button-addon2" />
    <button type="button" id="button-addon2">Enviar</button>
  </div>
</form>
{% endblock %}